- name: Add Jenkins GPG key
  get_url:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
    dest: /etc/apt/keyrings/jenkins-keyring.asc
    mode: "0644"

- name: Add Jenkins repository using deb822 format
  ansible.builtin.deb822_repository:
    name: jenkins
    types: [deb]
    uris: https://pkg.jenkins.io/debian-stable
    suites: [binary/]
    signed_by: /etc/apt/keyrings/jenkins-keyring.asc
    enabled: yes

- name: Install Java and Ansible
  apt:
    name:
      - fontconfig
      - openjdk-21-jre
      - ansible
    state: present
    update_cache: yes

- name: Install Jenkins
  apt:
    name:
      - jenkins
    state: present
    update_cache: yes

- name: Enable and start Jenkins service
  ansible.builtin.systemd:
    name: jenkins
    state: started
    enabled: yes

- name: Install Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes
  become: yes

- name: Deploy Jenkins Nginx configuration
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-available/jenkins
    owner: root
    group: root
    mode: "0644"
  become: yes

- name: Enable Jenkins site
  file:
    src: /etc/nginx/sites-available/jenkins
    dest: /etc/nginx/sites-enabled/jenkins
    state: link
  become: yes

- name: Restart Nginx
  service:
    name: nginx
    state: restarted
    enabled: yes
  become: yes
