- name: Add Jenkins GPG key
  get_url:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
    dest: /etc/apt/keyrings/jenkins-keyring.asc
    mode: "0644"

- name: Add Jenkins repository using deb822 format
  ansible.builtin.deb822_repository:
    name: jenkins
    types: [deb]
    uris: https://pkg.jenkins.io/debian-stable
    suites: [binary/]
    signed_by: /etc/apt/keyrings/jenkins-keyring.asc
    enabled: yes

- name: Install Java and Ansible
  apt:
    name:
      - fontconfig
      - openjdk-21-jre
      - ansible
    state: present
    update_cache: yes

- name: Install Jenkins
  apt:
    name:
      - jenkins
    state: present
    update_cache: yes

- name: Enable and start Jenkins service
  ansible.builtin.systemd:
    name: jenkins
    state: started
    enabled: yes

- name: Install Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes
  become: yes

- name: Deploy Jenkins Nginx configuration
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-available/jenkins
    owner: root
    group: root
    mode: "0644"
  become: yes

- name: Enable Jenkins site
  file:
    src: /etc/nginx/sites-available/jenkins
    dest: /etc/nginx/sites-enabled/jenkins
    state: link
  become: yes

- name: Restart Nginx
  service:
    name: nginx
    state: restarted
    enabled: yes
  become: yes

- name: Ensure Jenkins tmp dir exists
  file:
    path: /var/jenkins_tmp
    state: directory
    owner: jenkins
    group: jenkins
    mode: "0755"
  become: yes

- name: Ensure systemd override directory for Jenkins exists
  file:
    path: /etc/systemd/system/jenkins.service.d
    state: directory
    owner: root
    group: root
    mode: "0755"
  become: yes

- name: Write Jenkins systemd override to change tmp dir
  copy:
    dest: /etc/systemd/system/jenkins.service.d/override.conf
    content: |
      [Service]
      ExecStart=
      ExecStart=/usr/bin/java -Djava.io.tmpdir=/var/jenkins_tmp -jar /usr/share/java/jenkins.war
    owner: root
    group: root
    mode: "0644"
  become: yes

- name: Reload systemd daemon
  command: systemctl daemon-reexec
  become: yes

- name: Restart Jenkins
  service:
    name: jenkins
    state: restarted
  become: yes
