- name: Create monitoring namespace
  become: yes
  shell: |
    kubectl apply -f "{{ namespace_path }}"
  args:
    executable: /bin/bash

- name: Create PVE exporter secret from Vault
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: pve-exporter-secret
        namespace: monitoring
      type: Opaque
      stringData:
        user: "{{ pve_user }}"
        token_name: "{{ pve_token_name }}"
        token_value: "{{ pve_token_value }}"

- name: Apply grafana manifests
  shell: |
    kubectl apply -R -f "{{ grafana_path }}"
  args:
    executable: /bin/bash
  become: yes

# - name: Apply grafana manifests
#   shell: |
#     kubectl apply -R -f /opt/k3s-manifests/k3s/monitoring/grafana
#   args:
#     executable: /bin/bash
#   become: yes

- name: Apply ingress manifest
  shell: |
    kubectl apply -f "{{ ingress_path }}"
  args:
    executable: /bin/bash
  become: yes

- name: Apply node-exporter manifests
  shell: |
    kubectl apply -R -f "{{ node_path }}"
  args:
    executable: /bin/bash
  become: yes

- name: Apply prometheus manifests
  shell: |
    kubectl apply -R -f "{{ prometheus_path }}"
  args:
    executable: /bin/bash
  become: yes

- name: Apply pve-exporter manifests
  shell: |
    kubectl apply -R -f "{{ pve_path }}"
  args:
    executable: /bin/bash
  become: yes

- name: Apply loki manifests
  shell: |
    kubectl apply -R -f "{{ loki_path }}"
  args:
    executable: /bin/bash
  become: yes

- name: Apply promtail manifests
  shell: |
    kubectl apply -R -f "{{ promtail_path }}"
  args:
    executable: /bin/bash
  become: yes
