---
- name: Ensure swap file exists
  command: fallocate -l {{ swap_size }} /swapfile
  args:
    creates: /swapfile
  become: yes

- name: Set correct permissions
  file:
    path: /swapfile
    owner: root
    group: root
    mode: "0600"
  become: yes

- name: Format swap file
  command: mkswap /swapfile
  args:
    creates: /swapfile.formatted
  register: mkswap_out
  become: yes
  changed_when: "'setting up swapspace' in mkswap_out.stdout"

- name: Enable swap
  command: swapon /swapfile
  register: swapon_out
  failed_when: swapon_out.rc not in [0, 255] # 255 = already active
  become: yes

- name: Make swap permanent
  lineinfile:
    path: /etc/fstab
    line: "/swapfile none swap sw 0 0"
    state: present
  become: yes
