- name: Ensure required packages are installed
  apt:
    name:
      - gnupg
    state: present
    update_cache: yes

- name: Download HashiCorp GPG key
  get_url:
    url: https://apt.releases.hashicorp.com/gpg
    dest: /tmp/hashicorp.gpg
    mode: "0644"

- name: Convert GPG key to keyring format
  command: gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg /tmp/hashicorp.gpg
  args:
    creates: /usr/share/keyrings/hashicorp-archive-keyring.gpg

- name: Add HashiCorp repository
  copy:
    content: "deb [arch=amd64 signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com trixie main"
    dest: /etc/apt/sources.list.d/hashicorp.list
    mode: "0644"

- name: Install Terraform
  apt:
    name: terraform
    state: present
    update_cache: yes
